<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/aesthetic.css"/>
        <title>Top scores</title>
    </head>
    <body>
        <header>
            <div th:include="generalComponents :: headerContent"></div>
        </header>
        <div class="mainContainer">
            <div th:switch="${statistics}" class="secondContainer">
                <div th:case="null">
                    <h2> You haven't played any quizzes.</h2>
                </div>

                <div th:case="*">
                    <h2 th:text="'You have answered ' + ${statistics.getQuestionsAnswered()}+' questions!'"></h2>
                    <h2 th:text="'You have answered ' + ${statistics.getAnsweredCorrectly()}+' questions correct!'"></h2>
                    <h2 th:text="'You have played ' + ${statistics.getGamesPlayed()}+' games!'"></h2>
                    <table>
                        <thead>
                            <tr class="tableItems">
                                <th class="tableItem">Score</th>
                                <th class="tableItem">Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="s : ${scores}" class="tableItems">
                                <td th:text="${s.getScore}" class="tableItem"></td>
                                <td th:text="${s.getAccount().getUsername()}" class="tableItem"></td>
                                <td class="tableItem"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a th:href="@{/user}" class="button">Back</a>
                <a th:href="@{/}" class="button">Quit</a>
            </div>
        </div>
    </body>

</html>