<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Quiz</title>
    </head>
    <body>
        <header></header>
        <div th:switch="${questions}">
            <div th:case="null" class="mainContainer">
                <h2>Two player, now it's your turn!</h2>
                <h2> Questions </h2>
                <div th:each="q:${questions}">
                    <h2 th:text="${q.questionText}"></h2>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionA}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionB}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionC}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionD}"></button>
                </div>
            </div>
            <div th:case="*" class="mainContainer">
                <h2> Questions </h2>
                <div th:each="q:${questions}">
                    <h2 th:text="${q.questionText}"></h2>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionA}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionB}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionC}"></button>
                    <button th:onclick="|window.location.href='/category2/${q.categoryID}'|" th:text="${q.optionD}"></button>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>