<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

<div th:switch="${questions}">
    <div th:case="null">
    <h2>Quiz over!</h2>
    <p><a href="/quiz">Play a new game</a></p>
        <p><a href="/">Quit</a></p>

    </div>
    <div th:case="*">
        <h2> Questions </h2>

        <div th:each="q:${questions}">
            <form action="#" th:action="@{'/category/'+${q.categoryID}}" method="post">
        <h2 th:text="${q.questionText}"></h2>
        <input type="submit" class="button" th:name="option" th:field="${q.optionA}" th:value="${q.optionA}" ></input>
        <input type="submit" class="button" th:name="option" th:field="${q.optionB}" th:value="${q.optionB}"></input>
        <input type="submit" class="button" th:name="option" th:field="${q.optionC}"th:value="${q.optionC}"></input>
        <input type="submit" class="button" th:name="option" th:field="${q.optionD}"th:value="${q.optionD}"></inputn>
                </select>
            </form>
        </div>

    </div>

</div>
</body>
</html>