<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <title>Login</title>
</head>
<body>
<header></header>
<div class="mainContainer">
    <h2>Login to your account</h2>
    <span th:if="${incorrectInput}">
        <p th:text="'Username or password incorrect'"></p>
        </span>
    <form action="#" th:action="@{/login}" th:object="${account}"  method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" th:field="*{username}"/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:value="*{password}"/>
        <input type="submit" value="Login" class="button"/>
    </form>
    </div>
    <a href="/" class="button">Back</a>
<footer></footer>
</body>
</html>


