<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <title>Quiz</title>
</head>
<body>
    <header></header>
    <div th:switch="${categories}" class="mainContainer">
        <h2 th:case="null">No questions yet!</h2>
        <div th:case="*">
            <h2> Pick a category! </h2>
            <form th:each="c:${categories}" th:action="@{'/category/'+${c.ID}}" method="get" class="form">
                <button th:text="${c.categoryName}" class="button"></button>
            </form>
        </div>
        <a href="/" class="button">Quit</a>
    </div>
    <footer></footer>
</body>
</html>