<html xmlns:th="https://thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aesthetic.css}"/>
        <title>Signup</title>
    </head>
    <body>
    <header></header>
    <div class="mainContainer">
        <h2>Signup for an account</h2>
        <span th:if="${alreadyExistsInput}">
           <span class="wrong" th:text="'Username already exists'"></span>
        </span>
        <form action="#" th:action="@{/signup}" th:object="${account}"  method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" th:field="*{username}"/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" th:value="*{password}"/>
            <input type="submit" value="Sign up" class="button"/>
        </form>
        <a th:href="@{/}" class="button">Back</a>
    </div>
    <footer></footer>
    </body>
</html>