<!DOCTYPE html>
<html xmlns:th="https//thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/aesthetic.css"/>
        <title>This is a two player game :D</title>
    </head>
    <body>

        <div th:switch="${categories}">
            <h2 th:case="null">No questions yet!</h2>
            <div th:case="*">
                <h2> Pick a category! 2player lolz </h2>
                <form th:each="c:${categories}" th:action="@{'/category2/'+${c.ID}}" method="get">
                    <button th:text="${c.categoryName}"></button>
                </form>
            </div>
            <a th:href="@{/}" class="button">Quit</a>
        </div>
    </body>
</html>