*{
    padding: 0;
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

header, footer{
    min-height: 10vh;
    width: 100%;
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.mainContainer{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    border: 0.25rem solid #555;
    border-radius: 1rem;
    margin: 1rem;
    padding: 3rem;
}

h2, p{
    padding: 1rem 1.5rem;
    margin:  0.5rem 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

form label, form span{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
}

form input{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: 0.25rem solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

form input[type=text]:focus{
    border: 0.25rem solid #555;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.tableItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
}

.tableItem{
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
}

.thinButton{
    height: 100%;
}

button, .button {
    background-color: darkorange;
    border: 0.25rem solid white;
    color: white;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: gray;
    color: black;
}

.rounded{
    border-radius: 1rem;
}

.wrong {
    color: red;
}


.test{/*note til að tjekka hvort það se 100% að syna breytingar*/
    background-color: deepskyblue;
    color: deeppink;
}