*{
    padding: 0;
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

header, footer{
    height: 10vh;
    width: 100%;
    background-color: deepskyblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.25rem 0.5rem;
}

.mainContainer{
    min-height: 80vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.left {
    justify-content: left;
}

.center {
    justify-content: center;
}

.secondContainer{
    min-height: 80vh;
    width: 50%;
    background: rgba(255,140,0,0.60);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

h1, h2, p{
    padding: 0.5rem 1.5rem;
    margin:  0.5rem 1.5rem;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

form, table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

form label, form span{
    width: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
}

form input{
    width: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    border: 0.25rem solid #ccc;
    border-radius: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

form input[type=text]:focus{
    border: 0.25rem solid #555;
}

.tableItems{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.tableItem{
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
}

button, .button {
    width: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    background-color: darkorange;
    border: 0.25rem solid white;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: deepskyblue;
    color: black;
}

.wrong {
    color: red;
}


.test{/*nota til að tjekka hvort það se 100% að syna breytingar*/
    background-color: deepskyblue;
    color: deeppink;
}